body {
background-color:#2e2b2b !important;


  }

  .hero{
   
   
    position: relative;
    padding: 30px;
   
  }

 
  nav :hover {
    color: rgba(233, 230, 42, 0.993) !important;
    text-decoration: none;
  }


  
  